DATABASE_URL="postgresql://postgres:PAROLA_TA@localhost:5432/alpinistiutilitari"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
GOOGLE_MAPS_API_KEY=""
GOOGLE_SITE_VERIFICATION=""
BING_SITE_VERIFICATION=""
